.stats-card {
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

.stats-card h4 {
    font-size: 16px;
    color: #555;
}

.stats-card h2 {
    font-size: 32px;
    margin: 10px 0;
}

.stats-card p {
    font-size: 14px;
    color: #28a745;
}

.stats-card.yellow {
    background-color: #fff7e6;
}

.stats-card.purple {
    background-color: #ede7f6;
}

.stats-card.orange {
    background-color: #ffe6e6;
}